@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

/* Nav Area */
.top-bar {
	width: 100%;
	margin-top: 0;
	position: relative;
	height: 80px;
	text-align: right;
	background-color: darkturquoise;
}
#title {
	position: absolute;
	left: 20px;
	top: 0px;
	display: inline-block;
	border-radius: 20px;
	height: 100%;
}
.nav {
	height: 100%;
	display: inline-block;
}
.nav a {
	margin: 0 20px;
	font-size: 120%;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.nav a:hover {
	color: #555;
	background-color: turquoise;
}

.btn:hover {
	background: var(--accent);
	color: white;
}

.edit.btn {
	--accent: green;
}

.delete.btn {
	--accent: red;
	margin-left: 10px;
}

.view.btn {
	--accent: blue;
	margin-left: 10px;
}

/* Delete Incident */
.incident-container {
	width: 100%;
}

.confirmation-box.show {
	display: block;
}

.App {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.badge {
	background-color: #9ae6b4;
	color: #22543d;
	margin-right: 4px;
	padding: 4px 8px;
	border-radius: 12px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
input {
	padding: 10px;
	margin-bottom: 20px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: none;
}
